@import '../../assets/Styles/colors';

section {
    width: 760px;
    display: flex;
    gap: 20px;
    margin: 50px auto 0;
}

article {

    display: block;
    width: 50%;
    margin: auto;
    height: auto;

    .article-content {
        width: 100%;

        img {
            width: 100%;
            height: 200px;
        }
    }
}

.bar {
    position: relative;
    height: 26px;
    background-color: #ddd;
    width: 100%;
    color: #6a6a6a;
    display: flex;
    z-index: 10;

    h3 {
        color: #1f2833;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        margin: auto;
        margin-left: 50px;

    }

    i {
        height: 12px;
        width: 12px;
        display: inline-block;
        background-color: #ff5f57;
        border-radius: 50%;
        position: relative;
        top: 6px;
        left: 10px;
        margin-right: 50px;

        &:before {
            content: " ";
            height: 12px;
            width: 12px;
            position: absolute;
            left: 16px;
            background-color: #ffbd2e;
            top: 0;
            border-radius: 50%;
        }

        &:after {
            content: " ";
            height: 12px;
            width: 12px;
            position: absolute;
            left: 32px;
            background-color: #28ca41;
            top: 0;
            border-radius: 50%;
        }
    }
}