@import '../../assets/Styles/colors';


.tech-tag , .link{
    color: $primary-cyan-color;
    margin-left: 4px;

}

.page-skills .text-zone{
    flex: 1 1 48%;
}
.link {
    text-decoration: none;
}    

/* Skills Details */

.skills-details {
    flex: 1 1 49%;
    .chart {
        margin: 15px 0;
        span{
            font-weight: bold;
            font-family: 'Josefin Sans';
            color: #fff;
          }
          footer {
              width: 100%;
              height: 2px;
              background-color: #888;
              div {
               height: 100%;
               background-color: $react-color;
              }
          }
    }
   
}
