@import '../../assets/Styles/colors';
@import '../../assets/Styles/helpers';


.container.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: relative;

    .text-zone {
        max-height: 90%;
        display: block;
        flex: 1 1 60%;

        .paraContainer {
            &::before {
                top: 0;
            }
        }

        h1 {
            color: #fff;
            font-size: 6rem;
            margin: 0;
            font-family: 'Coolvetica';
            line-height: 5.3rem;
            font-weight: 400;
            position: relative;
            transition: all .3s linear;


            &::before {
                @include htmlTags('<h1>', -4rem, 0px);
            }

            &::after {
                @include htmlTags('</h1>', '', '');
                margin-top: 1.8rem;
                margin-left: 2rem;
                animation: fadeIn 1s 2s backwards;
            }

            img {
                width: 3.2rem;
                margin-left: 2rem;
                opacity: 0;
                height: auto;
                animation: rotateIn 1s 1.4s linear both;
            }
        }

        p {
            color: $grey-color;
            margin-top: 2rem;
            font-weight: 400;
            font-size: 1.3rem;
            font-family: sans-serif;
            letter-spacing: .3rem;
            animation: fadeIn 1s 1.8s backwards;
            position: relative;
        }

        .flat-button {
            max-width: 20rem;
            height: 4.5rem;
            line-height: 4.5rem;
            cursor: pointer;
            position: absolute;
            margin-top: 3rem;
            display: block;
            
            @media (hover: hover) {   
                &:hover {
                    background: $primary-cyan-color;
                    color: $dark-gray-color;
                }
            }

        }
    }
}


.logo {
    position: relative;
    flex: 1 1 39%;
    font-size: 30rem;
}

#logoChar {
    font-size: 4rem;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin: 0 .5rem 0 .5rem;
    animation: rotateIn .7s 1.4s linear both;

    div {
        transform: rotate(0deg);
        min-width: 4.5rem;
        font-size: 5.2rem;
        left: 0;
        top: 0;

    }

    div:nth-of-type(2) {
        left: 5%;
        top: -.1rem;
    }
}

#main-logo {
    animation: rubberBand 1s 1.5s forwards;
}


/* Scroll Down Buttons */
.scroll-down {
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    gap: 1rem;

    &.left {
        left: -3rem;
    }

    &.right {
        right: -5rem;
    }

    svg {
        color: $light-gray-color;
    }

    .scroll-text {
        writing-mode: vertical-lr;
        color: $light-gray-color;
        font-size: 1.3rem;
        font-family: 'Josefin Sans', sans-serif;
        transition: all 1s linear;
        animation: upAndDown 1.5s infinite both;
    }
}


@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2rem);
    }

    100% {
        transform: translateY(0);
    }

}

/*Extra small screens */
@media ($extra-small-devices) {
    .container.home-page {
        flex-direction: column;
        padding-top: 10rem;
        width: 100%;

        .text-zone {
            padding: 0 2rem;
            width: 100%;

            h1 {
                font-size: 5.3rem;
                margin-left: .3rem;

            .flat-button {
                margin-top: 10rem;
            }
        }
    }


    #main-logo {
        position: absolute;
        z-index: -1;
        width: 100%;
        font-size: 22rem;
        opacity: .7;
        top: 50%;
    }

        /* Scroll Down Buttons */
        .scroll-down {


            &.left {
                left: 1rem;
            }
    
            &.right {
                right: 1rem;
            }
    
            svg {}
    
            .scroll-text {}
        }

   
}

/*Small devices tablets */
@media ($small-devices-tablets) {
    .container.home-page {

        .text-zone {
        
            .paraContainer {
                &::before {}
            }

            h1 {
                 font-size: 5.5rem;
                &::before {}

                &::after {}

                img {}
            }

            p {}

            .flat-button {
               

                
            }
        }
    }


    .logo {}

    #logoChar {

        div {}

        div:nth-of-type(2) {}
    }

    #main-logo {}


    /* Scroll Down Buttons */
    .scroll-down {


        &.left {}

        &.right {}

        svg {}

        .scroll-text {}
    }
}

/*Medium devices desktops */
@media ($medium-devices-desktops) {
    .container.home-page {

        .text-zone {
            padding: 0 2rem;
            width: 100%;

            .paraContainer {
                &::before {}
            }

            h1 {

                &::before {}

                &::after {}

                img {}
            }

            p {}

            .flat-button {

                &:hover {}
            }
        }
    }


    .logo {}

    #logoChar {

        div {}

        div:nth-of-type(2) {}
    }

    #main-logo {}


    /* Scroll Down Buttons */
    .scroll-down {


        &.left {}

        &.right {}

        svg {}

        .scroll-text {}
    }}}