@import '../../assets//Styles/colors';
.nav-bar {
    width: 60px;
    background: $dark-color;
    height: 100%;
    min-height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    .log {
       display: block;
       padding: 8px 0;
      
    } img {
           display: block;
           width: 30px;
           margin: 8px auto;
           height: auto;
         &.sub-logo {
             width: 50px;
         }
       }
       ul {
        list-style: none;
        position: absolute;
        bottom: 20px;
        display: block;
        width: 100%;
        padding: 0;
        text-align: center;
        margin: 0;
        li {
            a {
               padding: 7px 0;
               display: block;
               font-size: 15px;
               line-height: 16px; 
    
               &:hover svg {
                   color: $primary-cyan-color;
               }
            }
        }
    }
}

nav {
    display: block;
    text-align: center;
    height: 210px;
    position: absolute;
    top: 50%;
    margin-top: -120px;
    width: 100%;
    a {
        font-size: 22px;
        color: $dark-gray-color;
        display: block;
        line-height: 51px;
        position: relative;
        text-decoration: none;
        i {
            transition: all .3s ease-out;
        }
        &:hover {
            color: $primary-cyan-color;
            svg {
                opacity: 0;
            }
            &:after {
                opacity: 1;
            }
        }
        &:after {
            content: '';
            font-size: 9px ;
            letter-spacing: 2px;
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: all .3s ease-out;
        }
        &:first-child {
            &::after {
            content: 'HOME';
            }
        }
        &.about-link {
            &::after {
            content: 'ABOUT';
            }
        }
        &.contact-link {
            &:after {
            content: 'CONTACT';
            }
        }
        &.active {
            svg {
                color: $primary-cyan-color;
            }
        }
    }
}

