@import './colors';

.tags-styles {
    font-family: 'La Belle Aurore', cursive;
    color: $light-gray-color;
    font-size: 18px;
    position: absolute;
}

// @function postion($position) {
//     @if($postion=='') {
//         @return initial;
//     }

//     @return $postion;
// }

// @function postionTop($top) {
//     @if($top=='') {
//         @return initial;
//     }

//     @return $top
// }

@mixin htmlTags($tag, $top, $left) {
    content: $tag;
    @extend .tags-styles;
    @if($left=='') {
        left: initial;
    }
    @else {
        left: $left;
    }
    top: $top;
    opacity: .6;
}

@mixin pseudoBefAndAfter() {
    ::before {
        @content ;
    }

    ::after {
        @content ;
    }
}